<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hhh">

    <!-- 인터넷 권한 선언-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:roundIcon="@mipmap/ic_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".IT5chooseclass_empty"></activity>


        <activity android:name=".IT4chooseclass_empty" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ChoosebuildingActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".IT4Calendar"
            android:label="@string/app_name" />
        <activity
            android:name=".IT5Calendar"
            android:label="@string/app_name" />
        
        <activity
            android:name=".menuSelectActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".classSelectActivity"
            android:label="@string/app_name" />
        
    </application>

</manifest>
